@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

h1 {
    color: #956e79;
    font-size: 38px;
    font: weight 900px;
    text-align: justify;
    display: flex;
    margin: 53px;
    padding: 21px;
}

.mujer {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 20px;
    padding: 10px;
}

.mujer img {
    grid-column: 1/4;
}

.mujer h1 {
    grid-column: 7/11;
    grid-row: 1;
}

h2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 11px;
    margin-bottom: 3px;
    padding: 20ppx;
    color: #956e79;
    font-size: 30px;
    text-align: center;
}

h3 {
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
}

h4 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

p {
    font-size: 22px;
    padding: 29px;
    margin: -5px;
}

.pgray {
    margin: auto;

}

.contenido {
    max-width: 1067px;
    margin: auto;
    padding: 20px;
}

.imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.imagenes img {
    height: 200px;
}

.icons {
    width: 1037px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    height: 50px;
    padding: 0px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

.formulario {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group label {
    display: inline-block;
    margin-right: 10px;
}

.form {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    background: #d3afb6;
    border-radius: 8px;
    margin: 50px;
    padding: 10px;
    width: 400px;
}

.submitBtn {
    display: flex;
    flex-direction:row;
    background-color:transparent;
	border-radius:5px;
	border:2px solid #956e79;
	display:inline-block;
	cursor:pointer;
	color:#956e79;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 170px;
	text-decoration:none;

}

.submitBtn:hover {
    background-color: #d3afb6;
    transform: translateY(-2px);
}


@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .nav-links {
        display: none;
    }

    .button-menu-toggle {
        display: block;
        background-color: #d3afb6;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background: color #5a4d5a;
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/01/da/30/01da302c4104c2007ccdefa74ff2b000.jpg);
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    transition: all 0.5 ease;
}

.nav.active {
    padding: 15px;
}

.nav.active .logo,
.nav.active .logo a {
    color: #000;
}

.nav.active a:hover {
    background: #000;
    color: #353434;
}

.logo {
    font-size: 40px;
    color: #353434;
    font-weight: 900;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 5px;
}

.menu li a {
    color: #353434;
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover {
    padding: 5px 10px;
    background: #fefae0;
    color: #353434;
    border-radius: 15px;
}

footer {
    font-size: 20px;
    min-height: 100px;
    background-image: url(https://i.pinimg.com/originals/01/da/30/01da302c4104c2007ccdefa74ff2b000.jpg);
    opacity: 0.6;
}

.red_social {
    display: flex;
    flex-direction:row-reverse;
    width: 50;
}

.pie {
    display: flex;
    align-items: end;
    justify-content:space-between;
}

/*.container-nav {
    width: 100%;
    display: flex;
    padding: 20px;
    height: 60px;
    background-color:#f9f9f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 13px;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
}

.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8px 24px;
}

li {
    list-style-type: none;
}

a {
    color:#5a4d5a;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 #5a4d5a, 0 1px 1px #5a4d5a;
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg:#d3afb6;
    --bs-btn-border-color: #d3afb6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#d3afb6;
    --bs-btn-hover-border-color:#d3afb6;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ddbea9;
    --bs-btn-active-border-color: #ddbea9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffe8d6;
    --bs-btn-disabled-border-color: #ffe8d6;
}
.button {
    text-align: center;
}
.video {
    display: flex;
    justify-content: center;
} 
.video iframe {
    margin-top: 40px;
}
.flork2 {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}
.flork2 img{
    grid-column: 9/13;
    grid-row: 1;
}
.flork2 h2{
    grid-column: 2/5;
    grid-row: 1;
}
.icons {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    width: 200px;
    padding: 10px;
}
.flork3 {
    display: flex;
    justify-content: baseline;
}
*/